[submodule "vendor/Symfony/Component/ClassLoader"]
	path = vendor/Symfony/Component/ClassLoader
	url = git://github.com/symfony/ClassLoader.git
[submodule "vendor/guzzle"]
	path = vendor/guzzle
	url = git://github.com/guzzle/guzzle.git
